* {
    box-sizing: border-box;
}

html, body {
    font-family: "GT Eesti Pro Display", serif;
    color: #FFFFFF;
    background-color: #21182F;
    margin: 0;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    height: 100%;
}

.carousel {
    position: relative;
    height: 600px;
}

.carousel__button {
    display: block;
    position: absolute;
    top: 0;
    width: 230px;
    height: 100%;
    background-image: url("images/chevron.svg"), none;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.carousel__button:hover {
    background-image: url("images/chevron.svg"), linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.carousel__button--next {
    right: 0;
    transform: rotate(180deg);
}

.carousel__control {
    display: flex;
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
}

.carousel__position {
    width: 20px;
    height: 20px;
    border: 5px solid transparent;
    border-radius: 50%;
    background: #FFFFFF;
    margin-right: 10px;
    background-clip: padding-box;
    cursor: pointer;
}

.carousel__position:hover {
    opacity: 0.8;
}

.carousel__position:last-child {
    margin: 0;
}

.carousel__position--active {
    background-clip: border-box;
}

.carousel__slides {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel__slide {
    height: 100%;
}

.carousel__slide--1 {
    background-image: url("./images/slide_1_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.features {
    height: 550px;
}

.features__content {
    background-image: url("./images/features_background.png");
    background-repeat: no-repeat;
    background-position: 60px bottom;
    background-size: 394px 516px;
    padding-left: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    height: 74px;
}

.header__header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__logo {
    width: 120px;
    height: 34px;
}

.hero {
    height: 660px;
    background-image: url("./images/hero_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hero__logo {
    font-size: 0;
    margin: 0;
    width: 600px;
    height: 172px;
    background-image: url("./images/neighbor_logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__description {
    width: 630px;
    font-size: 24px;
    text-align: center;
}

.hero__buttons {

}

.button {
    width: 154px;
    height: 52px;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    font-family: inherit;
    background: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.button--primary {
    border-color: #FFFFFF;
}

.button--buy {
    border-color: #EB852F;
    background-color: #EB852F;
}

.button--trailer {
    border-color: #20191A;
    background-color: #20191A;
    width: 180px;
}

.button--trailer::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 6px;
    background: url("./images/play_icon.svg") no-repeat;
}

.platforms {
    height: 220px;
    background-image: url("./images/platforms_cover.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.platforms__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.platforms__description {
    width: 540px;
    font-size: 24px;
    line-height: 28px;
}

.platforms__logos {
    display: flex;
    flex-grow: 1;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.platforms__logo-windows {
    margin-right: 64px;
}