* {
    box-sizing: border-box;
}

html, body {
    color: #FFFFFF;
    background-color: #21182F;
    margin: 0;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.header {
    height: 74px;
}

.header__header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__logo {
    width: 120px;
    height: 34px;
}

.hero {
    height: 660px;
    background-image: url("./images/hero_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
    width: 154px;
    height: 52px;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    background: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.button--primary {
    border-color: #FFFFFF;
}
