* {
    box-sizing: border-box;
}

html, body {
    color: #fff;
    background-color: #21182F;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

